<mat-list dense>
    <h2 matSubheader>TASK MANAGEMENT</h2>
    <mat-list-item [class.completed]="task.completed" [ngClass]='{"past-due-date": (task.dueDate < currentDate)}' *ngFor="let task of tasks">
        <mat-icon matListIcon>note</mat-icon>
        <h4 matLine>{{task?.description}}</h4>
        <p matLine>{{task?.dueDate | date}}</p>
        <section>
            <div class="button-row">
              <div class="flex-container">
                <button mat-icon-button color="primary" (click)="markAsComplete(task)">
                  <mat-icon>done</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editTask(task)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="deleteTask(task)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </section>
    </mat-list-item>
</mat-list>

<button mat-raised-button color="primary" (click)="addTask()" class="add-task-btn">ADD TASK</button>



