.add-task-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.completed{
    background-color: rgb(117 220 24 / 29%);
    text-decoration-line: line-through; 
    section{
        pointer-events: none;
    }
}

.past-due-date {
    background-color: rgb(222 94 19 / 20%);
    section{
        pointer-events: none;
    }
}

.mat-list-item {
    margin-bottom: 1em;
}