<h1 mat-dialog-title>ADD TASK</h1>
<div mat-dialog-content>
  <form #taskForm="ngForm">
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="data.description" name="description" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input matInput [(ngModel)]="data.dueDate" name="dueDate" required
        [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
        <owl-date-time #dtPicker1></owl-date-time>
    </mat-form-field> 
     
    <div>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="!taskForm.valid">Save</button>
      </div>
  </form>
</div>
